params {
  max_cpus = 1
  max_memory = 8.GB
  max_time = 1.h

  genomes {
    'GRCh38' {
      ref_fasta = 'https://github.com/ampatchlab/test-datasets/raw/wgs/HCC1143/reference/chr22.fa.gz'
      vep_cache = 'https://github.com/ampatchlab/test-datasets/raw/wgs/HCC1143/annotation/homo_sapiens_vep_104_GRCh38.chr22.tar.gz'
    }
  }

  readgroup_csv = "${baseDir}/tests/HCC1143-PE.csv"
  germline_csv = "${baseDir}/tests/HCC1143-test-germline.csv"
  somatic_csv = "${baseDir}/tests/HCC1143-test-somatic.csv"

  adapters = 'TruSeq'
}
